/* Import Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  background: #FFDAB9; 
}
h1 {
  background: #6C757D;
  font-size: 1.6rem;
  text-align: center;
  padding: 16px 0;
  color: #fff;
}
.container {
  display: flex;
  gap: 35px;
  padding: 30px;
}
.weather-input {
  width: 550px;
}
.weather-input input {
  height: 46px;
  width: 100%;
  outline: none;
  font-size: 1.1rem;
  padding: 0 16px;
  margin: 10px 0 20px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.weather-input input:focus {
  padding: 0 15px;
  border: 2px solid #6C757D;
}
.weather-input .separator {
  height: 1px;
  width: 100%;
  margin: 25px 0;
  background: #BBBBBB;
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather-input .separator::before{
  content: "or";
  color: #6C757D;
  font-size: 1.1rem;
  padding: 0 14px;
  margin-top: -4px;
  background: #FFDAB9; 
}
.weather-input button {
  width: 100%;
  padding: 8px 0;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #fff;
  background: #3CB371; 
  transition: 0.2s ease;
}
.weather-input .search-btn:hover {
  background: #2E8B57; 
}
.weather-input .location-btn {
  background: #3CB371; 
}
.weather-input .location-btn:hover {
  background: #2E8B57; 
}
.weather-data {
  width: 100%;
}
.weather-data .current-weather {
  color: #fff;
  background: #3CB371; 
  border-radius: 5px;
  padding: 18px 60px 18px 16px;
  display: flex;
  justify-content: space-between;
}
.current-weather h2 {
  font-weight: 700;
  font-size: 1.5rem;
}
.weather-data h6 {
  margin-top: 10px;
  font-size: 0.9rem;
  font-weight: 500;
}
.current-weather .icon {
  text-align: center;
}
.current-weather .icon img {
  max-width: 100px;
  margin-top: -10px;
}
.current-weather .icon h6 {
  margin-top: -8px;
  text-transform: capitalize;
}
.days-forecast h2 {
  margin: 18px 0;
  font-size: 1.3rem;
}
.days-forecast .weather-cards {
  display: flex;
  gap: 20px;
}
.weather-cards .card {
  color: #fff;
  padding: 16px 14px;
  list-style: none;
  width: calc(100% / 5);
  background: #3CB371; 
  border-radius: 5px;
}
.weather-cards .card h3 {
  font-size: 1.1rem;
  font-weight: 600;
}
.weather-cards .card img {
  max-width: 60px;
  margin: 3px 0 -10px 0;
}

@media (max-width: 1400px) {
  .weather-data .current-weather {
    padding: 18px;
  }
  .weather-cards {
    flex-wrap: wrap;
  }
  .weather-cards .card {
    width: calc(100% / 4 - 12px);
  }
}
@media (max-width: 1200px) {
  .weather-cards .card {
    width: calc(100% / 3 - 12px);
  }
}
@media (max-width: 950px) {
  .weather-input {
    width: 450px;
  }
  .weather-cards .card {
    width: calc(100% / 2 - 8px);
  }
}
@media (max-width: 750px) {
  h1 {
    font-size: 1.4rem;
    padding: 14px 0;
  }
  .container {
    flex-wrap: wrap;
    padding: 15px;
  }
  .weather-input {
    width: 100%;
  }
  .weather-data h2 {
    font-size: 1.3rem;
  }
}
